@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');

*, :before, :after {
  padding: 0; margin: 0; box-sizing: border-box;
}

:root {
  --bgColor: #000000;
  --sectionBgColor: #121212;
  --longAlbumBgColor: #303030;
  --middleGradientTopColor: #202020;
  --middleGradientMiddleColor: #121212;
  --middleGradientBottomColor: #111111;
  --whiteColor: #ffffff;

  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  color: var(--whiteColor);
  background-color: var(--bgColor);

}

/* Blocks */

.siteContainer {
  height: 100vh;
}

/* Elements */

/* Modifiers */